.container_app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  padding: 0 25px;

  color: black;
  .scroll {
    display: none;
  }
  .container_home {
    width: 100%;
    height: calc(100vh - 100px);

    .section1 {
      width: 100%;
      height: 100vh;

      .container_header {
        width: 100%;
        height: 100%;
        display: flex;
        overflow-y: scroll;
        .container_name {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          writing-mode: vertical-rl;
          text-orientation: upright;
          font-size: 150px;
          font-weight: 800;
          overflow-y: scroll;
        }

        .container_description {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 100%;
          .description_img {
            width: 50%;
            height: 500px;
            position: relative;

            .img {
              width: 200px;
              height: 200px;
              border-radius: 25px;
              position: absolute;
              top: 0;
              left: 0;
              img {
                border-radius: 25px;
                width: 100%;
                height: 100%;
                filter: grayscale(1);
              }
            }
            .description {
              position: absolute;
              bottom: 0;
              .title {
                font-size: 50px;
                font-weight: 800;
                text-transform: uppercase;
                margin-bottom: 25px;
              }
              .contenue {
                font-size: 25px;
                font-weight: 800;
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }
    .container_header::-webkit-scrollbar {
      display: none;
    }
    .container_name::-webkit-scrollbar {
      display: none;
    }

    .section2 {
      width: 100%;
      height: 100vh;
      .container_works {
        width: 100%;
        height: calc(100vh - 200px);

        .container_project {
          width: 100%;
          height: 500px;
          display: flex;

          margin-bottom: 25px;
          .container_project1 {
            width: 100%;
            height: 100%;
            display: flex;
            .container_link {
              height: 100%;
              width: 500px;
              border-radius: 25px;
              border: solid 1px black;
              margin-right: 25px;
              border: solid 1px black;
              color: white;
              background-color: black;
            }
            .container_img {
              width: calc(100% - 525px);
              height: 100%;

              border-radius: 25px;

              .coiffeur {
                width: 100%;
                height: 100%;
                border-radius: 25px;
                object-fit: cover;
              }
            }
          }
          .container_project2 {
            width: 100%;
            height: 100%;
            display: flex;
            .button_all_woks {
              height: 100%;
              width: 600px;
              font-size: 30px;
              margin-right: 25px;
              display: flex;
              align-items: center;
              justify-content: center;
              a {
                display: block;

                width: 500px;
                height: 500px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #d0f467;
              }
              a:hover .img_fleche {
                transform: rotate(0deg);
              }
              .link_text {
                display: flex;
                flex-direction: column;

                .img_fleche {
                  width: 60px;
                  height: 60px;
                  margin-top: 25px;
                  transform: rotate(-30deg);
                }
              }
            }

            .container_img_link {
              width: 100%;
              height: 100%;
              border-radius: 25px;

              display: flex;

              .link {
                height: 100%;
                width: 500px;
                border-radius: 25px;
                color: white;
                background-color: black;
              }
              .img {
                width: calc(100% - 525px);
                height: 100%;

                border-radius: 25px;
                margin-right: 25px;

                img {
                  width: 100%;
                  height: 100%;
                  border-radius: 25px;
                  object-fit: cover;
                }
              }
            }
          }
          .container_project3 {
            display: flex;
            width: 100%;
            margin-bottom: 25px;
            .link {
              width: 800px;
              height: 100%;
              border: solid 1px black;
              border-radius: 25px;
              margin-right: 25px;
              background-color: black;
              color: white;
            }
            .img {
              width: calc(100% - 825px);
              height: 100%;
              border-radius: 25px;

              img {
                width: 100%;
                height: 100%;
                border-radius: 25px;
                object-fit: cover;
              }
            }
          }
        }
      }

      .title {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 80px;
        font-weight: 800;
        text-transform: uppercase;
      }
    }
  }
}
.container_nav {
  color: white;
  width: 100%;
  height: 100vh;
  background-color: #d0f467;
  display: flex;
  flex-direction: row-reverse; // row-reverse
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  .button_close {
    height: 100px;
  }
  .nav_close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 100px;
  }
  .container_link_navigation {
    width: calc(100% - 100px);
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    .lien {
      ul {
        li {
          a {
            font-size: 90px;
            margin-left: 10px;
            text-transform: uppercase;
            font-weight: 800;
          }
          a:hover {
            font-weight: 8;
          }
        }
      }
    }
  }
}
.container_link_navigation::-webkit-scrollbar {
  display: none;
}
